<div class="slider-text">

	<div class="slide-track">
		<div class="slide">
			<img src="{{asset('build/images/pub/white-flower.png')}}" height="100" width="100" alt="fleurs blanches"/>
			<img src="{{asset('build/images/pub/white-flower.png')}}" height="100" width="100" alt="fleurs blanches"/>
			<img src="{{asset('build/images/pub/white-flower.png')}}" height="100" width="100" alt="fleurs blanches"/>
		</div>

		<div class="slide">
			<h3 class="text-cleanup-sky-light text-borders-sky">Cleanup est un fabricant de produits de nettoyage à usage domestique</h3>
		</div>
		<div class="slide">
			<img src="{{asset('build/images/pub/white-flower.png')}}" height="100" width="100" alt="fleurs blanches"/>
			<img src="{{asset('build/images/pub/white-flower.png')}}" height="100" width="100" alt="fleurs blanches"/>
			<img src="{{asset('build/images/pub/white-flower.png')}}" height="100" width="100" alt="fleurs blanches"/>
		</div>
		<div class="slide">

			<h3 class="text-cleanup-secondary-light text-borders-secondary">depuis 2016</h3>
		</div>
		<div class="slide">
			<img src="{{asset('build/images/pub/white-flower.png')}}" height="100" width="100" alt="fleurs blanches"/>
			<img src="{{asset('build/images/pub/white-flower.png')}}" height="100" width="100" alt="fleurs blanches"/>
			<img src="{{asset('build/images/pub/white-flower.png')}}" height="100" width="100" alt="fleurs blanches"/>
		</div>
		<div class="slide">
			<h3 class="text-cleanup-sky-light text-borders-sky">Cleanup distribue ses produits auprès des professionnels du métier</h3>
		</div>
		<div class="slide">
			<img src="{{asset('build/images/pub/white-flower.png')}}" height="100" width="100" alt="fleurs blanches"/>
			<img src="{{asset('build/images/pub/white-flower.png')}}" height="100" width="100" alt="fleurs blanches"/>
			<img src="{{asset('build/images/pub/white-flower.png')}}" height="100" width="100" alt="fleurs blanches"/>
		</div>
		<div class="slide">
			<h3 class="text-cleanup-sky-light text-borders-sky">Cleanup n'est jamais loin de sa clientèle</h3>
		</div>
	</div>
</div>
