<div class="slideshow-container">
	<div class="mySlides fade">
   <h2 class="text-cleanup-primary text-center size-2 font-caroussel"> <span class="size-3">Cleanup</span><span class="text-cleanup-secondary"> vous presente ses produits<span></h2>
		<img class="img-carousel" src="{{asset('build/images/caroussel/pancart.png')}}" style="width:100%;" alt="pancart de cleanup">

	</div>

	<div class="mySlides fade">
<h2 class="text-cleanup-secondary text-center size-2 font-caroussel"><span class="text-cleanup-primary">Des désodorisants</span> efficaces pour vos sols</h2>
		<img class="img-carousel" src="{{asset('build/images/caroussel/collection-5.png')}}" style="width:100%" alt="collection de Désodorisants">

	</div>
	<div class="mySlides fade">
<h2 class="text-cleanup-secondary text-center size-2 font-caroussel"><span class="text-cleanup-primary">Des air fraîches </span> pour <span class="text-cleanup-primary"> vos vêtements </span></h2>
		<img class="img-carousel" src="{{asset('build/images/caroussel/collection-4.png')}}" style="width:100%" alt="collection de rafraîcheurs d'air">

	</div>


	<div class="mySlides fade">
<h2 class="text-cleanup-secondary text-center size-2 font-caroussel">Sous différent formats</h2>
		<img class="img-carousel" src="{{asset('build/images/caroussel/collection-1.png')}}" style="width:100%" alt="collection de rafraîcheurs d'air sous autre format">

	</div>

	<div class="mySlides fade">
<h2 class="text-cleanup-secondary text-center size-2 font-caroussel"><span class="text-cleanup-primary">Des savons</span> avec des parfums</h2>
		<img class="img-carousel" src="{{asset('build/images/caroussel/collection-2.png')}}" style="width:100%" alt="collection de savons">

	</div>

	<div class="mySlides fade">
<h2 class="text-cleanup-secondary text-center size-2 font-caroussel"><span class="text-cleanup-primary">Des nettoyants vitres</span> pour faire briller vos fenêtres</h2>
		<img class="img-carousel" src="{{asset('build/images/caroussel/collection-3.png')}}" style="width:100%" alt="collection de nettoyants vitres">

	</div>

</div>

