<div class="slider">

	<div class="slide-track">

		<div class="slide">
			<img src="{{asset('build/images/pub/collection-air-fraiches.png')}}" height="150" width="150" alt="Collection d'air fraîches"/>
		</div>

		<div class="slide">
			<img src="{{asset('build/images/pub/collection-assouplissant-2.png')}}" height="150" width="150" alt="Collection d'assouplissants"/>
		</div>
		<div class="slide">
			<img src="{{asset('build/images/pub/collection-assouplissant.png')}}" height="150" width="150" alt="Collection d'assouplissants"/>
		</div>
		<div class="slide">
			<img src="{{asset('build/images/pub/collection-decapant-2.png')}}" height="150" width="150" alt="Collection de décapants"/>
		</div>
		<div class="slide">
			<img src="{{asset('build/images/pub/collection-nettoyant-vitre.png')}}" height="150" width="150" alt="Collection de nettoyants de vitres"/>
		</div>
		<div class="slide">
			<img src="{{asset('build/images/pub/fabrique-en-tunisie.png')}}" height="150" width="150" alt="Fabriqué en Tunisie"/>
		</div>

		<div class="slide">
			<img src="{{asset('build/images/pub/feuilles.png')}}" height="150" width="150" alt="Feuilles vertes"/>
		</div>
		<div class="slide">
			<img src="{{asset('build/images/pub/original-2.png')}}" height="150" width="150" alt="Tampon original"/>
		</div>
		<div class="slide">
			<img src="{{asset('build/images/pub/sol-collection.png')}}" height="150" width="150" alt="Collection de nettoyants sol"/>
		</div>
		<div class="slide">
			<img src="{{asset('build/images/pub/vaisselles-collection-2.png')}}" height="150" width="150" alt="Collection de liquides vaisselles"/>
		</div>
		<div class="slide">
			<img src="{{asset('build/images/pub/vaisselles-collection.png')}}" height="150" width="150" alt="Collection de liquides vaisselles"/>
		</div>
		<div class="slide">
			<img src="{{asset('build/images/pub/white-flower.png')}}" height="150" width="150" alt="Fleurs blanches"/>
		</div>
		<div class="slide">
			<img src="{{asset('build/images/pub/fabrique-en-tunisie.png')}}" height="150" width="150" alt="Fabriqué en Tunisie"/>
		</div>
		<div class="slide">
			<img src="{{asset('build/images/pub/original.png')}}" height="150" width="150" alt="Tampon original"/>
		</div>
		<div class="slide">
			<img src="{{asset('build/images/pub/collection-assouplissant-2.png')}}" height="150" width="150" alt="Collection d'assouplissants"/>
		</div>
		<div class="slide">
			<img src="{{asset('build/images/pub/feuilles.png')}}" height="150" width="150" alt="Feuilles vertes"/>
		</div>
	</div>
	<div class="slide">
		<img src="{{asset('build/images/pub/fabrique-en-tunisie.png')}}" height="150" width="150" alt="Fabriqué en Tunisie"/>
	</div>
	<div class="slide">
		<img src="{{asset('build/images/pub/original-2.png')}}" height="150" width="150" alt="Tampon original"/>
	</div>
<div class="slide">
			<img src="{{asset('build/images/pub/sol-collection.png')}}" height="150" width="150" alt="Collection de nettoyants sol"/>
		</div>
		<div class="slide">
			<img src="{{asset('build/images/pub/vaisselles-collection-2.png')}}" height="150" width="150" alt="Collection de liquides vaisselles"/>
		</div>
		<div class="slide">
			<img src="{{asset('build/images/pub/vaisselles-collection.png')}}" height="150" width="150" alt="Collection de liquides vaisselles"/>
		</div>
		<div class="slide">
			<img src="{{asset('build/images/pub/white-flower.png')}}" height="150" width="150" alt="Fleurs blanches"/>
		</div>
		<div class="slide">
			<img src="{{asset('build/images/pub/collection-air-fraiches.png')}}" height="150" width="150" alt="Collection d'air fraîches"/>
		</div>

		<div class="slide">
			<img src="{{asset('build/images/pub/collection-assouplissant-2.png')}}" height="150" width="150" alt="Collection d'assouplissants"/>
		</div>
		<div class="slide">
			<img src="{{asset('build/images/pub/collection-assouplissant.png')}}" height="150" width="150" alt="Collection d'assouplissants"/>
		</div>
</div></div>
